<header>
  <nav class="nav">
    <div class="nav_container">
      <label class="nav_toggle">
        <input type="checkbox" id="menu_input" class="nav_input">
      </label>

      <ul class="nav_list">
        <li class="nav_item" *ngFor="let item of (menu$ | async)">
          <!-- Item sin hijos -->
          <a *ngIf="!item.children"
             [routerLink]="item.link"
             class="nav_link">
            <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>{{ item.label }}
          </a>

          <!-- Item con hijos -->
          <ng-container *ngIf="item.children">
            <button class="nav_link"
                    (click)="toggle(item.label)"
                    [attr.aria-expanded]="openLabel === item.label">
              <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon> {{ item.label }}
              <fa-icon [icon]="faChevronDown" class="chevron"></fa-icon>
            </button>

            <ul class="submenu" [class.open]="openLabel === item.label">
              <li *ngFor="let sub of item.children">
                <a [routerLink]="sub.link">{{ sub.label }}</a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>

      <figure class="nav_figure">
        <img src="assets/logos/logo-header.png" alt="Logo RestInn, gestión hotelera" class="nav_logo">
      </figure>

      <div class="nav_actions">
        @if (isLoggedIn$ | async) {
          <button (click)="logout()">LOGOUT</button>
          <button routerLink="/mi_perfil">Mi perfil</button>
        } @else {
          <button routerLink="/sign_in">Iniciar Sesión</button>
          <button routerLink="/sign_up">Registrarse</button>
        }
      </div>
    </div>
  </nav>
</header>
