/*
       oBBBBB8o      oBBBBBBB
     o8BBBBBBBBBBB  BBBBBBBBB8        o88o,
   o8BBBBBB**8BBBB  BBBBBBBBBB     oBBBBBBBo,
  oBBBBBBB*   ***   BBBBBBBBBB     BBBBBBBBBBo,
 8BBBBBBBBBBooooo   *BBBBBBB8      *BB* 8BBBBBBo,
 8BBBBBBBBBBBBBBBB8ooBBBBBBB8           8BBBBBBB8,
  *BBBBBBBBBBBBBBBBBBBBBBBBBB8 o88BB88BBBBBBBBBBBB,
    *BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB8,
      **8BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*,
           *BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB8*,
            *BBBBBBBBBBBBBBBBBBBBBBBB8888**,
             BBBBBBBBBBBBBBBBBBBBBBB*,
             *BBBBBBBBBBBBBBBBBBBBB*,
              *BBBBBBBBBBBBBBBBBB8,
               *BBBBBBBBBBBBBBBB*,
                8BBBBBBBBBBBBBBB8,
                 8BBBBBBBBBBBBBBBo,
                  BBBBBBBBBBBBBBB8,
                  BBBBBBBBBBBBBBBB,
                  8BBBBBBBBBBBBBBB8,
                  *BBBBBBBBBBBBBBBB,
                  8BBBBBBBBBBBBBBBB8,
                 oBBBBBBBBBBBBBBBBBB,
                oBBBBBBBBBBBBBBBBBBB,
                BBBBBBBBBBBBBBBBBBBB,
               8BBBBBBBBBBBBBBBBBBB8,
              oBBBBBBBBB88BBBBBBBBB8,
              8BBBBBBBBB*8BBBBBBBBB*,
              BBBBBBBBB* BBBBBBBBB8,
              BBBBBBBB8 oBBBBBBBBB*,
              8BBBBBBB  oBBBBBBBB*,
              BBBBBBB*  8BBBBBBB*,
             8BBBBBB*   BBBBBBB*,
            8BBBBBB8   oBBBBBB8,
           8BBBBBB8    8BBBBBB*,
          oBBBBBB8    BBBBBBB8,
          BBBBBBB8   BBBBBBBB*,
         oBBBBBBB8   BBBBBBBB,
         8BBBBBB8    BBBBBBB*,
         BBBBBB*     8BBBBB*,
        oBBBB8       BBBBB*,
        oBBB8        BBBB*,
      8BBBB*       *BBBBBBBB8o,
      BBBBB*            *88BBBo
*/

/* Lo errore te hacen ma fuelte */